<section class="well cntr" id="o-nas">
    <div class="container">
        <h2 class="wow fadeInUp">Tematyka Specjalizacji</h2>

        <p class="wow fadeInUp">
            W trakcie trzech semestrów nauki na specjalizacji, studenci otrzymują praktyczną wiedzę dotyczącą
            tworzenia oprogramowania na platformy mobilne. Zdobywają informacje z zakresu: systemów operacyjnych
            oraz architektur sprzętowych urządzeń mobilnych...
        </p>

        <a  href="#" class="btn"><i class="fa-file-text"></i>Więcej informacji</a>

    </div>
</section>

<section class="well2 cntr">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12  wow fadeIn">
                <div class="icon1 fa-thumbs-o-up"></div>
                <h3>Ochrona informacji</h3>
                <h5 class="color4"><a href="#">sieci
                    ad-hoc; programowania rozproszonego; </a></h5>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12  wow fadeIn">
                <div class="icon1 fa-mobile"></div>
                <h3>Platfomy mobilne</h3>
                <h5 class="color4"><a href="#">Androidzie, Qt, Windows Phone.</a></h5>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12  wow fadeIn">
                <div class="icon1 fa-wrench"></div>
                <h3>Języki programowania</h3>
                <h5 class="color4"><a href="#">Java, C++ i ObjectiveC, a wkrótce także .Net</a></h5>
            </div>
        </div>
    </div>
</section>
