<section id="about">
    <div class="container">
        <h2 class="animated">Tematyka Specjalizacji</h2>
        <p class="animated">W trakcie trzech semestrów nauki na specjalizacji, studenci otrzymują praktyczną wiedzę dotyczącą
            tworzenia
            oprogramowania na platformy mobilne. Zdobywają informacje z zakresu: systemów operacyjnych oraz
            architektur
            sprzętowych urządzeń mobilnych...</p>

        <p class="more">W trakcie trzech semestrów nauki na specjalizacji, studenci otrzymują praktyczną wiedzę dotyczącą
            tworzenia
            oprogramowania na platformy mobilne. Zdobywają informacje z zakresu: systemów operacyjnych oraz
            architektur
            sprzętowych urządzeń mobilnych...</p>

        <button class="show-more">
            <i class="fa fa-file-text"></i> Więcej informacji
        </button>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <figure>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <h3 class="animated">Ochrona informacji</h3>
                    <h5 class="animated">sieci ad-hoc; programowania rozproszonego;</h5>
                </figure>
            </div>
            <div class="col-4">
                <figure>
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <h3 class="animated">Ochrona informacji</h3>
                    <h5 class="animated">Androidzie, Qt, Windows Phone.</h5>
                </figure>
            </div>
            <div class="col-4">
                <figure>
                    <div class="icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h3 class="animated">Języki programowania</h3>
                    <h5 class="animated">Java, C++ i ObjectiveC, a wkrótce także .Net</h5>
                </figure>
            </div>
        </div>
    </div>
</section>