{% assign i18n = site.i18n[page.language] %}
<section id="about">
    <div class="container">
        <h2 class="animated">{{ i18n.about.title }}</h2>
        <p class="animated">{{ i18n.about.description }}</p>
        <p class="more">{{ i18n.about.more_description }}</p>
        <button class="show-more" data-close-text="{{ i18n.about.more_info_close }}">
            <i class="fa fa-chevron-down"></i> {{ i18n.about.more_info }}
        </button>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <figure>
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <h3 class="animated">{{ i18n.about.mobile }}</h3>
                    <p class="description animated">{{ i18n.about.mobile_description }}</p>
                </figure>
            </div>
            <div class="col-6">
                <figure>
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h3 class="animated">{{ i18n.about.languages }}</h3>
                    <p class="description animated">{{ i18n.about.languages_description }}</p>
                </figure>
            </div>
        </div>
    </div>
	
	<div class="container" id="collaboration">
        <h2 class="animated">{{ i18n.about.collaboration.title }}</h2>
        <div class="row">
            <div class="col-12 animated">
                <p>{{ i18n.about.collaboration.description }}</p>
			</div>
		</div>
		<div class="row">
			{% if i18n.about.collaboration.list.size == 1 %}
				<div class="col-12">
					{{ i18n.about.collaboration.list.first }}
				</div>
			{% else %}
                {% for collaborator in i18n.about.collaboration.list %}
					<div class="col-6">
						{{ collaborator }}
					</div>
					{% cycle '', '</div><div class="row">' %}
                {% endfor %}
			{% endif %}
        </div>
    </div>
</section>
