<section class="bg1 section1 well6 wow fadeIn" id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft mobile-cntr">
                <h3 class="mod1">Kontakt</h3>
                <h5 class="color5">Polsko-Japońska Akademia
                    Technik Komputerowych<br>
                    ul. Koszykowa 86<br>
                    02-008 Warszawa.</h5>
                <dl class="dlist1">
                    <dt>Telefon:</dt>
                    <dd>
                        <a href="callto:+48225844500">+48 22 58 44 500</a>
                    </dd>
                    <dt>E-mail:</dt>
                    <dd>
                        <a href="mailto:pjatk@pja.edu.pl">pjatk@pja.edu.pl</a>
                    </dd>
                </dl>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight mobile-cntr">
                <h3 class="mod1"><i class="fa-envelope-o icon3 mod1"></i> <span>Napisz do nas</span>
                </h3>

                <div class="subsribe_mailform">
                    <form method="post" action="#" class="mailform">
                        <input type="hidden" name="form-type" value="subscribe">
                        <fieldset class="row">
                            <label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="name" placeholder="Imie i nazwisko:"
                                       data-constraints="@LettersOnly @NotEmpty">
                            </label>
                            <label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="email" placeholder="Twój email"
                                       data-constraints="@Email @NotEmpty">
                            </label>

                            <label class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="message" placeholder="Wiadomość:"
                                       data-constraints="@NotEmpty">
                            </label>

                            <div class="mfControls col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn mod1"> Wyślij</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
