<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Kontakt</h3>
                <h5>Polsko-Japońska Akademia
                    Technik Komputerowych<br>
                    ul. Koszykowa 86<br>
                    02-008 Warszawa.</h5>
                <dl>
                    <dt><i class="fa fa-phone"></i> Telefon:</dt>
                    <dd>
                        <a href="callto:+48225844500"> +48 22 58 44 500 </a>
                    </dd>
                    <dt><i class="fa fa-envelope"></i> E-mail:</dt>
                    <dd>
                        <a href="mailto:pjatk@pja.edu.pl"> pjatk@pja.edu.pl</a>
                    </dd>
                </dl>
            </div>
            <div class="col-6">
                <div class="page-title">

                    <div class="logo"><img src="images/LOGO-PJWSTK.png" alt="logo"/></div>
                    <div class="title">
                        <h1> Sieci urządzeń <span>mobilnych</span></h1>
                        <h3>Polsko-Japońska Akademia Technik Komputerowych</h3>
                    </div>

                </div>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>