{% assign i18n = site.i18n[page.language] %}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>{{ i18n.contact.title }}</h3>
                <address>{{ i18n.contact.address }}</address>
                <dl>
                    <dt><i class="fa fa-phone"></i></dt>
                    <dd>
                        <a href="callto:+48225844500"> +48 22 58 44 500 </a>
                    </dd>
                    <dt><i class="fa fa-envelope"></i></dt>
                    <dd>
                        <a href="mailto:pjatk@pja.edu.pl">pjatk@pja.edu.pl</a>
                    </dd>
                    <dt>
                        <i class="fa fa-file"></i>
                    </dt>
                    <dd>
                        <a href="/docs/Polityka-prywatności-aplikacji-mobilnej.pdf">{{ i18n.contact.privacy }}</a>
                    </dd>
                </dl>
            </div>
            <div class="col-6">
                <div class="page-title">
                    <div class="logo"></div>
                    <div class="title">
                        <h1>{{ i18n.specialization }}</h1>
                        <p class="subtitle">{{ i18n.school }}</h3>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="https://www.instagram.com/polskojaponska" rel="nofollow" target="_blank"  aria-label="pjatk instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/polskojaponska" rel="nofollow" target="_blank"  aria-label="pjatk facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/polskojaponska" rel="nofollow" target="_blank"  aria-label="pjatk twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
