<section class="well3 bg4">
    <div class="container">
        <h2 class="wow fadeInLeft">OPIS LABORATORIUM</h2>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12  wow fadeInLeft">
                <p>Laboratorium specjalizacji podlega nieustannemu rozwojowi finansowanemu z prac badawczych,
                    statutowych i funduszy uczelni. Przykładem tego procesu jest pracownia 133 wyposażona w
                    komputery Apple wspomagające tworzenie oprogramowania w oparciu o język ObjectiveC. </p>

                <p>Dzięki współpracy z firmami branży mobilnej portfolio urządzeń mobilnych, dostępnych dla
                    studentów, jest stale aktualizowane. Obecnie można wymienić urządzenia: </p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12  wow fadeInRight">
                <ul class="marked-list">
                    <li><a href="#">Nokia Lumia</a></li>
                    <li><a href="#">Samsung Galaxy</a></li>
                    <li><a href="#">Nexu</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12  wow fadeInRight">
                <ul class="marked-list">
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">kostki Dice+</a></li>
                    <li><a href="#">Dell Venue 8</a></li>
                </ul>
            </div>


        </div>
    </div>
</section>
