<section class="well4 cntr" id="projekty">
    <div class="container wow fadeInUp">
        <div class="icon2 fa-comments-o"></div>
        <h2>Projekty studentów</h2>

        <div class="owl-carousel">
            <div class="item">
                <blockquote>
                    <h5>PJATK Android</h5>
                    <p>
                        <img src="/images/app-pjwstk-android.png" style="width: 250px">
                    </p>
                    <cite>PJATK <br><a
                            href="https://play.google.com/store/apps/details?id=com.pjwstk.mobile.dziekanat">play.google.com</a></cite>
                </blockquote>
            </div>
            <div class="item">
                <blockquote>
                    <h5>PJATK Apple</h5>
                    <p>
                        <img src="/images/app-pjwstk-apple.png" style="width: 250px">
                    </p>
                    <cite>PJATK <br><a href="https://itunes.apple.com/pl/app/pjwstk/id828657671?mt=8">itunes.apple.com</a></cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
