<section id="projects">
    <div class="container">
        <div class="icon"><i class="fa fa-users"></i></div>
        <h2 >Projekty studentów</h2>

        <div class="carousel">
            <button class="next"><i class="fa fa-chevron-right"></i></button>
            <button class="prev"><i class="fa fa-chevron-left"></i></button>
            <div class="carousel-cell">
                <blockquote>
                    <h5>PJATK Android</h5>

                    <p>

                        <img src="/images/app-pjwstk-android.png" >
                    </p>
                    <cite>PJATK <br><a
                            href="https://play.google.com/store/apps/details?id=com.pjwstk.mobile.dziekanat">play.google.com</a></cite>
                </blockquote>
            </div>
            <div class="carousel-cell">
                <blockquote>
                    <h5>PJATK Apple</h5>

                    <p>
                        <img src="/images/app-pjwstk-apple.png" style="max-width: 250px;">
                    </p>
                    <cite>PJATK <br><a href="https://itunes.apple.com/pl/app/pjwstk/id828657671?mt=8">itunes.apple.com</a></cite>
                </blockquote>
            </div>
        </div>

    </div>
</section>