<section class="parallax well5 wow fadeIn" data-url="/images/parallax1.jpg" data-mobile="true" data-speed="1"
         id="filmy">
    <div class="container">
        <h2>Filmy </h2>

        <div class="row video">
            <div class="col-lg-4 wow fadeInLeft">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/8zg7UOzygos?autoplay=1">
                    <div class="video-img">
                        <img src="http://img.youtube.com/vi/8zg7UOzygos/0.jpg">
                    </div>
                </a>
                <h5>That's how we learn with Tomaszew</h5>
            </div>
            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="0.5s">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/ErD1yJtX_-8?autoplay=1">
                    <div class="video-img">
                        <img src="http://img.youtube.com/vi/ErD1yJtX_-8/0.jpg">
                    </div>
                </a>
                <h5>Halloween 2015</h5>
            </div>
            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="1s">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/Tr4-Gr-jsRg?autoplay=1">
                    <div class="video-img">
                        <img src="http://img.youtube.com/vi/Tr4-Gr-jsRg/0.jpg">
                    </div>
                </a>
                <h5>3DprinterBuild</h5>
            </div>
        </div>
        <div class="row video">
            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="1.5s">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/Tr4-Gr-jsRg?autoplay=1">
                    <div class="video-img" >
                        <img src="http://img.youtube.com/vi/Tr4-Gr-jsRg/0.jpg">
                    </div>
                </a>
                <h5>3DprinterBuild</h5>
            </div>
            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="2s">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/ErD1yJtX_-8?autoplay=1">
                    <div class="video-img">
                        <img src="http://img.youtube.com/vi/ErD1yJtX_-8/0.jpg">
                    </div>
                </a>
                <h5>Halloween 2015</h5>
            </div>

            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="2.5s">
                <a class="various fancybox.iframe" href="http://www.youtube.com/embed/8zg7UOzygos?autoplay=1">
                    <div class="video-img" >
                        <img src="http://img.youtube.com/vi/8zg7UOzygos/0.jpg">
                    </div>
                </a>
                <h5>That's how we learn with Tomaszew</h5>
            </div>
        </div>


    </div>
</section>
