<section id="videos" class="parallax">

    <div class="container">
        <h2>Filmy </h2>

        <div class="video">
            <div class="row">
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=8zg7UOzygos">
                        <h3>That's how we learn with Tomaszew</h3>
                    </figure>
                </div>
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=ErD1yJtX_-8">
                        <h3>Halloween 2015</h3>
                    </figure>
                </div>
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=Tr4-Gr-jsRg">
                        <h3>3DprinterBuild</h3>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=8zg7UOzygos">
                        <h3>That's how we learn with Tomaszew</h3>
                    </figure>
                </div>
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=ErD1yJtX_-8">
                        <h3>Halloween 2015</h3>
                    </figure>
                </div>
                <div class="col-4">
                    <figure data-url="https://www.youtube.com/watch?v=Tr4-Gr-jsRg">
                        <h3>3DprinterBuild</h3>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</section>