<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">{{ site.i18n[page.language].menu.home }}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">{{ site.i18n[page.language].menu.about }}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">{{ site.i18n[page.language].menu.services }}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">{{ site.i18n[page.language].menu.contact }}</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }}. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
