<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    {% include _pwa.html %}

    <link rel="preload" href="/images/{{ site.logo }}" as="image">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/" />

    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin&display=swap" as="style"
        onload="this.rel='stylesheet'">

    <link rel="preload"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" as="style"
        onload="this.rel='stylesheet'">

       

    {% capture inline_css %}
        {% include inline.scss %}
    {% endcapture %}
    <style>
        :root{--logo: url(/images/{{ site.logo }})}
        {{inline_css | scssify}}
    </style>



    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
                 You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.
        </a>
    </div>
    <![endif]-->
</head>