<!--========================================================
                          HEADER
=========================================================-->
<header id="homepage">
    <img class="bg" src="images/page-1_slide04.jpg">
    <div class="container">
        <div class="page-title">

            <div class="logo"><img src="images/LOGO-PJWSTK.png" alt="logo"/></div>
            <div class="title">
                <h1> Sieci urządzeń <span>mobilnych</span></h1>
                <h3>Polsko-Japońska Akademia Technik Komputerowych</h3>
            </div>

        </div>

        <menu>
            <menuitem><a href="#homepage">Strona główna</a></menuitem>
            <menuitem><a href="#about">O nas</a></menuitem>
            <menuitem><a href="#projects">Projekty studentów</a></menuitem>
            <menuitem><a href="#videos">Filmy</a></menuitem>
            <menuitem><a href="#contact">Kontakt</a></menuitem>
        </menu>

        <h2>
            Myśl globalnie, działaj lokalnie
        </h2>
    </div>


</header>
