{% assign i18n = site.i18n[page.language] %}
<header id="homepage">
    <img class="background" src="/images/background-300w.webp"
        srcset="/images/background-300w.webp 300w, /images/background-400w.webp 400w, /images/background-600w.webp 600w, /images/background-1756w.webp 1756w"
        sizes="100vw" alt="background" />
    <div class="container">
        <div class="page-title">
            <div class="logo"></div>
            <div class="title">
                <h1>{{ i18n.specialization }}</h1>
                <p class="subtitle">{{ i18n.school }}</h3>
            </div>
        </div>

        <menu>
            <menuitem><a href="#homepage">{{ i18n.menu.main }}</a></menuitem>
            <menuitem><a href="#about">{{ i18n.menu.about }}</a></menuitem>
            <menuitem><a href="#projects">{{ i18n.menu.projects }}</a></menuitem>
            <menuitem><a href="#videos">{{ i18n.menu.movies }}</a></menuitem>
            <menuitem><a href="#contact">{{ i18n.menu.contact }}</a></menuitem>
            <menuitem>
            <div class="language-selector">
                <button class="dropdown" type="button">
                    {{ site.languages[page.language].title }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for lang in site.languages %}
                        {% if lang[0] != page.language %}
                            <a class="dropdown-item" href="{{ lang[1].path }}">{{ lang[1].title }}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            </menuitem>
        </menu>

        <h2>{{ i18n.hero }}</h2>
    </div>
</header>