@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform...) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -webmit-transform: $transform;
  transform: $transform;
}