$red: #E51A26;
$white: #FFFFFF;
$black: #36393C;
$grey: #777;

@mixin font-family {
  font-family: "Open Sans", sans-serif;
}

@mixin transition($speed) {
  -webkit-transition: all $speed ease-in-out;
  transition: all $speed ease-in-out;
}

@mixin transitionElement($speed, $what) {
  -webkit-transition: $what $speed ease-in-out;
  transition: $what $speed ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include font-family;
  background: $white;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
}

header {

  padding: 3em 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;

  img.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .page-title {
    max-width: 60em;
    margin: 0 auto;

    .logo {
      width: 9.375em;
      height: 9.375em;
      float: left;
      margin-right: 1.875em;

      img {
        width: 100%;
      }
    }

    .title {
      float: left;
      h1 {
        font-size: 4em;
        font-weight: 100;
        color: $white;
        text-align: right;

        span {
          color: $red;
        }
      }

      h3 {
        color: $white;
        font-size: 1em;
        font-weight: 100;
        text-align: right;
        text-transform: uppercase;
      }
    }

    &::after {
      content: "";
      clear: both;
      display: block;
    }

  }

  menu {
    display: inline-block;
    margin: 3em auto;
    top: -10em;
    @include transitionElement(0.5s, top);

    menuitem {
      margin-right: 1.75em;
      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.875em;
        font-weight: 600;
        letter-spacing: 0.1em;
        @include transition(0.3s);

        &:hover, &.active {
          color: $red;
        }

      }

    }
    &.fixed-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: $black;
      z-index: 999999;
      margin: 0;
      padding: 1em;
    }
  }

  h2 {
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: 4.375em;
    line-height: 1;
    margin: 2em 0;
    @include transition(0.3s);
  }

}

main {
  section {

    background: $white;
    text-align: center;
    padding: 5.125em 0;
    @include transition(0.3s);

    &:nth-child(odd) {
      text-align: left;
      background: #f4f5f5;

      p {
        margin-top: 3.125em;

        &:nth-child(even) {
          margin-top: 2em;
        }

      }

    }

    &:first-child {
      text-align: center;
      background: $white;
    }
	
	.container#collaboration {
		margin-top: 5em;
		img {
			width: 80%;
		}
	}

    h2 {
      color: $black;
      font-weight: 300;
      font-size: 4.375em;
      line-height: 1;
    }

    p {
      margin-top: 3.125em;
      color: $grey;
      line-height: 1.5;

    }

    .more{
      display: none;
    }

    .icon {
      font-size: 6.250em;
      color: $red;
    }

    button {
      border-radius: 1.875em;
      background: $red;
      margin-top: 2em;
      @include font-family;
      font-size: 1.250em;
      font-weight: 300;
      text-align: center;
      color: $white;
      padding: 1em 1.313em;
      border: 0;
      cursor: pointer;
      @include transition(0.3s);

      i {
        margin-right: 0.4em;
        color: $white;
      }

      &:hover {
        color: $red;
        background: $black;

      }
      &:focus, &:active {
        border: none;
        outline: none;
      }
    }

    .social{
      text-align: center;
      margin-top: 1em;

      li{
        display: inline;
        list-style: none;
        a {
          display: inline-block;
          width: 2.375em;
          height: 2.375em;
          line-height: 2.375em;
          border-radius: 1.250em;
          font-size: 1.563em;
          text-align: center;
          color: $white;
          background-color: #4e5459;
          @include transition(0.3s);

          &:hover{
            background: $red;

          }
        }


      }

    }

  }

  figure {
    width: 100%;

    .icon {
      font-size: 7.250em;
      color: $red;
      font-weight: 400;
      @include transition(0.5s)
    }

    &:hover .icon {
      margin-top: -0.2em;
      margin-bottom: 0.2em;

    }

    h3 {
      font-size: 3.125em;
      line-height: 1;
      font-weight: 300;
      color: $black;
    }

    h5 {
      color: $grey;
      font-size: 1.350em;
      font-weight: 300;
      margin-top: 2.5em;
    }



  }

  section:last-child {
    background: $red;
    padding: 2em 0;
    text-align: left;

    h3 {
      color: $white;
      font-size: 3em;
      font-weight: 100;
    }
    h5 {
      font-size: 1.250em;
      line-height: 1.250em;
      font-weight: 100;
    }

    dl {
      margin: 2em 0;
      color: $white;
      font-size: 1.25em;
      text-transform: lowercase;

      i {
        color: $black;
        margin-right: 0.2em;
      }

      dt {
        float: left;
        margin-right: 1em;
      }
    }

    a {
      color: $white;
      text-decoration: none;
      @include transition(0.3s);

      &:hover {
        color: $black;
      }
    }

    .page-title {
      margin: 0 auto;
      text-align: center;

      .logo {
        width: 7.375em;
        height: 7.375em;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      .title {
        h1 {
          font-size: 2em;
          font-weight: 100;
          color: $white;
          text-align: center;

          span {
            color: $black;
          }
        }

        h3 {
          color: $white;
          font-size: 0.825em;
          font-weight: 100;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &::after {
        content: "";
        clear: both;
        display: block;
      }

    }
  }
}

footer {
  padding: 1.5em 0 ;
  background: $black;
  text-align: center;

  p{
    color: $white;
    a{
      color: $white;
      &:hover{
        color: $red;
      }
    }
  }



}

.device {

    margin-top: 3.125em;
    li {
      list-style: none;
      margin-bottom: 3em;
      font-size: 0.938em;
      text-transform: uppercase;

      &::before {
        content: '\f054';
        font-weight: 400;
        font-size: 15px;
        font-family: "FontAwesome";
        color: $red;
        margin-right: 1.25em;
      }


  }
}

.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;

  .col-4 {
    width: 33%;
    margin: 10px;
  }

  .col-6 {
    width: 50%;
    margin: 10px;
  }

}

// Carousel
.carousel {
  margin-top: 5em;
  width: 100%;
  overflow: hidden;

  > button {
    background: none;
    border: none;
    z-index: 99;
    padding: 0;
    margin: 0;
    font-size: 2em;
    margin: 0 1.5em 0 1.5em;

    &:hover {
      background: none;
      border: none;
    }

    & i {
      @include transition(0.5s);
      color: $red;
    }

    & i:hover {
      color: $black;
    }

    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
  }

  .carousel-cell {
    height: auto;
    float: left;
  }

  .carousel-container {
    float: left;
    @include transition(0.5s);

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

}

blockquote {
  h5 {
    line-height: 1.250em;
    font-size: 1.250em;
    font-weight: 100;
    color: $red;
  }

  cite {
    color: $black;
    font-size: 1.5em;
    font-weight: 100;
    a {
      font-size: 0.875em;
      color: $red;
      text-decoration: none;
    }
  }
}

.video {
  figure {
    text-align: center;
    button {
      width: 100%;
      background: none;
      position: relative;
      &::after{
        content: "\f01d";
        font-family: "FontAwesome";
        color: #ffffff;
        font-size: 50px;
        opacity: 0.6;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
      }
      &:hover::after{
        opacity: 1;
      }
      &:hover {
        background: none;
      }
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 1.250em;
      line-height: 1.250em;
      color: $white;
      font-weight: bold;
    }
  }

}

.light-box {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  padding: 0 0.5em;

  .light-box-con {
    position: relative;
    z-index: 99999999999;
    max-width: 800px;
    margin: 0 auto;
    max-height: 500px;
    top: 50%;
    width: 100%;
    height: 100%;
    background: $white;
    border: 1em solid $white;
    border-radius: 0.5em;
    webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    .light-box-close {
      position: absolute;
      top: -1.5em;
      right: 0;
      margin-right: -1.4em;;
      font-size: 1.25em;
      background: $black;
      border: 0.2em solid $white;
      border-radius: 50%;
      padding: 0.2em 0.3em 0.18em 0.3em;
      webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

      &::after {
        content: "\f00d";
        font-family: FontAwesome;
        color: $white;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
;

}

.parallax {
  position: relative;
  background: none !important;
  overflow: hidden;

  .parallax-img {
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

  }

  h2 {
    color: $white;
  }
}

// Animation FadeInUp
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

// Loader

.bubblingG {
  text-align: center;
  width:78px;
  height:49px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -39px;
  margin-top: -24.5px;
  z-index: -1;

  span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(229, 26, 38);
    border-radius: 49px;
    -webkit-border-radius: 49px;
    animation: bubblingG 0.845s infinite alternate;
    -webkit-animation: bubblingG 0.845s infinite alternate;
  }
}

#bubblingG_1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.2495s;
  -webkit-animation-delay: 0.2495s;
}

#bubblingG_3 {
  animation-delay: 0.509s;
  -webkit-animation-delay: 0.509s;
}



@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(229,26,38);
    transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    transform: translateY(-20px);
  }
}




@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(229,26,38);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    -webkit-transform: translateY(-20px);
  }
}




/* -----------------------------------------------------------------------------
  HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */

// vars

$button-width: 40px; // The width of the button area
$button-height: 40px; // The height of the button area
$bar-thickness: 3px; // The thickness of the button bars
$button-pad: 8px; // The left/right padding between button area and bars.
$button-bar-space: 6px; // The spacing between button bars
$button-transistion-duration: 0.3s; // The transition duration

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.c-hamburger {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: $black;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: $black;
      content: "";
    }

    &::before {
      top: -$bar-thickness - $button-bar-space;
    }

    &::after {
      bottom: -$bar-thickness - $button-bar-space;
    }
  }

}

.c-hamburger--htla {
  background-color: $white;

  span {
    transition: transform $button-transistion-duration;

    &::before,
    &::after {

    }

    &::before {
      transform-origin: top right;
      transition: transform $button-transistion-duration, width $button-transistion-duration, top $button-transistion-duration;
    }

    &::after {
      transform-origin: bottom right;
      transition: transform $button-transistion-duration, width $button-transistion-duration, bottom $button-transistion-duration;
    }

  }

  /* active state, i.e. menu open */

  &.is-active {
    background-color: $white;

    span {
      transform: rotate(180deg);

      &::before,
      &::after {
        width: 50%;
      }

      &::before {
        top: 0;
        transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY($bar-thickness/2) rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY(-$bar-thickness/2) rotate(-45deg);
      }
    }

  }

}

// Tablets and Mobile

@media (max-width: 992px) {
  header {
    min-height: 100%;

    img.bg {
      height: 100%;
    }

    .page-title {

      .logo {
        float: none;
        margin: 0 auto;
      }

      .title {
        float: none;
        text-align: center;
        h1 {
          text-align: center;
          line-height: 1;
          margin-bottom: 0.1em;

        }

        h3 {
          text-align: center;
        }
      }

    }
    h2 {
      margin: 0;
    }
  }
}

@media (max-width: 762px) {
  header {

    img.bg {
      height: 100%;
    }

    .page-title {

      .title {
        h1 {
          line-height: 1;
          margin-bottom: 0.15em;

        }
      }

    }

    menu {
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.5em;
      margin: 0;
      height: 100%;
      width: 50%;
      margin-top: 3em;
      margin-left: -60%;
      background: $white;
      box-sizing: content-box;
      box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
      z-index: 9999999;
      @include transitionElement(0.3s, margin-left);

      &.active {
        margin-left: 0;
      }

      & .rwd-menu {
        content: "\f0c9  Menu";
        font-family: FontAwesome, "Open Sans";
        font-size: 1.250em;
        line-height: 2.5em;
        padding-left: .2em;
        position: fixed;
        text-align: left;
        top: 0;
        left: 0;
        height: 2.5em;
        background: $white;
        width: 100%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        z-index: 9999999;

        button{
          margin-top: 5px;

        }
        h3{
          font-size: 0.8em;
          float: left;
          font-weight: 100;
        }

      }

      menuitem {
        float: left;
        width: 100%;
        text-align: left;
        margin: 0.825em 0;

        a {
          color: $black;
          text-transform: none;
          padding: 0.6em;
          text-decoration: none;
          font-size: 0.875em;
          font-weight: 600;
          letter-spacing: 0.1em;
          @include transition(0.3s);

          &:hover {
            color: $red;
          }
        }

      }

    }

    h2 {
      display: none;
    }
  }

  .container {
    width: 100%;
    padding: 0.5em;
    margin: 0;
  }

  .row {
    display: block;

    .col-4, .col-6 {
      width: 100%;
      padding: 0.8em;
      margin: 0;
    }
  }

  .c-hamburger {
    display: block;
    float: left;
  }

  main {
    section {
      padding: 3em 0;
      h2 {
        font-size: 2.375em;
      }

      figure {
        h3 {
          font-size: 1.37em;
        }
      }

      .social{
        float: none;
      }
    }
  }


  .video {
    figure {
      padding: 0 2em;
    }
  }
}
