<section class="camera_container" id="home">
    <div id="camera" class="camera_wrap">
        <div data-src="/images/page-1_slide04.jpg">
            <div class="camera_caption fadeIn">
                <div class="container">
                    <h2>Myśl globalnie, działaj lokalnie</h2>
                </div>
            </div>
        </div>
        <div data-src="/images/page-1_slide02.jpg">
            <div class="camera_caption fadeIn">
                <div class="container">
                    <h2>Zmieniaj świat na lepsze</h2>
                </div>
            </div>
        </div>
    </div>
</section>
