---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.language }}">
  {% include head.html %}
  <body>
    <div class="page">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" 
            integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" 
            crossorigin="anonymous"></script>

    <script src="/js/main.min.js?{{ site.time | date: '%Y%H%I%M%S' }}"></script>
  </body>
</html>
