<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="{{ site.description }}">

    <link rel="icon" href="/old/imagesages/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/old/css/main.css">

    <script src="/old/jsd/js/jquery.js"></script>
    <script src="/old/jsd/js/jquery-migrate-1.2.1.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/old/fancyBoxyBox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/old/fancyBoxyBox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->

    <script src='/old/jsd/js/device.min.js'></script>
</head>
